{% extends "base.html" %}
{% load static %}

{% block title %}Clientele | Iconic Techno Service{% endblock %}
{% block meta_description %}Organizations across oil &amp; gas, BFSI, real estate, retail and manufacturing trust Iconic Techno Service for end-to-end fire &amp; life-safety systems.{% endblock %}
{% block og_image %}{{ site_origin }}{% static 'image/clientele-intro-bg.jpg' %}{% endblock %}

{% block content %}

  {% include "includes/clientele-intro.html" with is_h1=True %}

  {% include "includes/clientelestats.html" %}

  {% include "includes/brands.html" %}

  {% include "includes/client-logos.html" with heading_eyebrow="Our Clients" heading_title="Organizations We've Worked With" %}

  {% include "includes/survey-cta.html" with cta_eyebrow="Join Our Clientele" cta_heading="Ready to Protect Your Site?" cta_lead="Get a free, no-obligation site survey and see how we can build a fire safety plan tailored to your facility." %}

{% endblock %}
